[
	{
		"name": "Array",
		"files": [
			"array.c",
			"test/core/array-test.c"
		],
		"val-printf-singleton-pointers": "true",
		"compilation_cmd": "-Itest/core -I. -DTIS_INTERPRETER=1 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=700"
	},
	{
		"name": "Buffer",
		"files": [
			"buffer.c",
			"test/core/buffer-test.c"
		],
		"compilation_cmd": "-Itest/core -I. -DBUFFER_SIZE=4 -DTIS_INTERPRETER=1 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=700"
	},
	{
		"name": "Map",
		"files": [
			"map.c",
			"test/core/map-test.c"
		],
		"compilation_cmd": "-Itest/core -I. -DTIS_INTERPRETER=1 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=700"
	},
	{
		"name": "Text Value Analysis",
		"value-profile": "analyzer",
		"slevel": 1000,
		"files": [
			"array.c",
			"text.c",
			"text-common.c",
			"text-io.c",
			"text-iterator.c",
			"text-motions.c",
			"text-objects.c",
			"text-regex.c",
			"text-util.c",
			"text-test.c"
		],
		"compilation_cmd": "-Itest/core -I. -DBLOCK_SIZE=4 -DTIS_INTERPRETER=1 -DHAVE_MEMRCHR=0 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=700"
	},
	{
		"name": "Text",
		"files": [
			"array.c",
			"text.c",
			"text-common.c",
			"text-io.c",
			"text-iterator.c",
			"text-motions.c",
			"text-objects.c",
			"text-regex.c",
			"text-util.c",
			"test/core/text-test.c"
		],
		"compilation_cmd": "-Itest/core -I. -DBLOCK_SIZE=4 -DTIS_INTERPRETER=1 -DHAVE_MEMRCHR=0 -D_POSIX_C_SOURCE=200809L -D_XOPEN_SOURCE=700"
	}
]